<div class="container-fluid">
    <h1 class="mt-4">Home</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Bem vindo!</li>
    </ol>
</div>

<div class="container">
    <div class="row">
        <ul class="table thead th ul-table">
            <li class="col">#</li>
            <li class="col">First</li>
            <li class="col">Last</li>
            <li class="col">Handle</li>
            <li class="col">Atualizar</li>
            <li class="col">Exluir</li>
        </ul>
        <ul class="table thead th ul-table">
            <li class="col content">1</li>
            <li class="col content">Mark</li>
            <li class="col content">Otto</li>
            <li class="col content">@mdo</li>
            <li class="col content">
                <div class="btn-group d-grid gap-2 d-md-block" role="group" aria-label="Basic mixed styles example">
                    <a type="button" class="btn btn-outline-primary">Atualizar</a>
                  </div>
            </li>
            <li class="col content">
                <div class="btn-group d-grid gap-2 d-md-block" role="group" aria-label="Basic mixed styles example">
                    <a type="button" class="btn btn-outline-danger">Excluir</a>
                  </div>
            </li>
        </ul>
    </div>
</div>