.row-two {
    margin: 3rem 3rem 0 0;
    justify-content: center;
}

.content-true, .content-false {
    width: 100%;
}

.tr-false {
    text-align: center;
}

.modal {
    background-color: rgba(0, 0, 0, 0.486);
}

.modal .modal-body span {
    color: rgb(2, 36, 44);
    font-weight: 600;
}