<div class="container-fluid">
    <h1 class="mt-4">Cliente</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Cadastro</li>
    </ol>
</div>
<div class="container">
    <form #formCliente="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="status !== null && cliente.nome != ''">
                    O cliente <span  class="alert-link">{{ cliente.nome }}</span> foi {{ status }} com sucesso.
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of erros">
                    Ocorreu o erro <span href="#" class="alert-link">{{ erro.defaultMessage }}</span>.
                </div>
            </div>
        </div>
        <div class="row" *ngIf="cliente.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id" class="form-label">ID:</label>
                    <input type="text" disabled="true" name="id" class="form-control" [(ngModel)]="cliente.id" name="id">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dataCadastro" class="form-label">Data Cadastro:</label>
                    <input type="text" disabled="true" name="dataCadastro" class="form-control" [(ngModel)]="cliente.dataCadastro" name="dataCadastro">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nome" class="form-label">Nome:*</label>
                    <input type="text" class="form-control" [(ngModel)]="cliente.nome" name="nome">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cpf" class="form-label">CPF:</label>
                    <input type="text" class="form-control" [(ngModel)]="cliente.cpf" name="cpf">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i> Salvar
                </button>

                <a *ngIf="cliente.id && !status || !cliente.id && !status" class="btn btn-danger" routerLink="{{ rota }}">
                    <i class="fa fa-arrow-alt-circle-left"></i> voltar
                </a>

                <a *ngIf="cliente.id && status" class="btn btn-primary" routerLink="/home">
                    <i class="fa fa-home"></i> Home
                </a>
            </div>
        </div>
    </form>
</div>