<div class="container-fluid">
    <h1 class="mt-4">Cliente</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Cadastro</li>
    </ol>
</div>
<div class="container">
    <form #formCliente="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-6">
                <label for="id" class="form-label">ID:</label>
                <input type="text" disabled="true" name="id" class="form-control">
            </div>
            <div class="col-md-6">
                <label for="dataCadastro" class="form-label">Data Cadastro:</label>
                <input type="text" disabled="true" name="dataCadastro" class="form-control">
            </div>
        </div>
        <div class="row" style="margin-top: 16px;">
            <div class="col-md-6">
                <label for="nome" class="form-label">Nome:*</label>
                <input type="text" class="form-control" [(ngModel)]="cliente.nome" name="nome">
            </div>
            <div class="col-md-6">
                <label for="cpf" class="form-label">CPF:</label>
                <input type="text" class="form-control" [(ngModel)]="cliente.cpf" name="cpf">
            </div>
        </div>
        <div class="row" style="margin-top: 16px;">
            <div class="col-md-4">
                <button class="btn btn-success">
                    <i class="fa fa-save"></i> Salvar
                </button>
            </div>
        </div>
    </form>
</div>