<div class="container-fluid">
    <h1 class="mt-4">Cliente</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Cadastro</li>
    </ol>
</div>
<div class="container">
    <form action="">
        <div class="row">
            <div class="col-md-6">
                <label for="" class="form-label">ID:</label>
                <input type="text" disabled="true" class="form-control">
            </div>
            <div class="col-md-6">
                <label for="" class="form-label">Data Cadastro:</label>
                <input type="text" disabled="true" class="form-control">
            </div>
        </div>
        <div class="row" style="margin-top: 16px;">
            <div class="col-md-6">
                <label for="" class="form-label">Nome:*</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <label for="" class="form-label">CPF:</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row" style="margin-top: 16px;">
            <div class="col-md-4">
                <button class="btn btn-success">
                    <i class="fa fa-save"></i> Salvar
                </button>
            </div>
        </div>
    </form>
</div>